* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #e6f0ff;
}

#navLogo img {
    width: 5rem;
}

#foto img {
    width: 10rem;
}

#formButton button {
    border: 0;
    padding: 5px 10px;
    width: 50%;
}

#left label {
    width: 10rem;
}

#right label {
    width: 10rem;
}


#footerLogo img {
    width: 3rem;
}

tbody td button {
    background-color: transparent;
    border: 0;
}

footer {
    background-color: #252525;
}

#footerText p {
    color: #F5F5F5;
}