* {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #e6f0ff;
}

#navLogo img {
    width: 15rem;
}

/* #foto img {
    width: 10rem;
} */

#foto .img-area {
    position: relative;
    width: 10rem;
    height: 10rem;
    background: #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#foto .img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
}

#foto .img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 200;
}

#foto .img-area.active:hover::before {
    opacity: 1;
}

#formButton button {
    border: 0;
    padding: 5px 10px;
    width: 50%;
}

#left label {
    width: 10rem;
}

#right label {
    width: 10rem;
}

#footerLogo img {
    width: 9rem;
}

tbody td button {
    background-color: transparent;
    border: 0;
}

footer {
    background-color: #252525;
}

#footerText p {
    color: #f5f5f5;
}
